/***
 * this is a copy from the css in the template
 * the css in the template is clean from comments.
 */

/* /\/\/\/\/\/\/\/\/ MOBILE STYLES /\/\/\/\/\/\/\/\/ */

@media only screen and (max-width: 480px){
	/* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */
	body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} /* Prevent Webkit platforms from changing default text sizes */
	body{width:100% !important; min-width:100% !important;} /* Prevent iOS Mail from adding padding to the body */

	/* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
	#bodyCell{padding:10px !important;}

	/* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */

	/* ======== Page Styles ======== */

	/**
	* @tab Mobile Styles
	* @section template width
	* @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.
	*/
	#templateContainer{
		max-width:600px !important;
		/*@editable*/ width:100% !important;
	}

	/**
	* @tab Mobile Styles
	* @section heading 1
	* @tip Make the first-level headings larger in size for better readability on small screens.
	*/
	h1{
		/*@editable*/ font-size:24px !important;
		/*@editable*/ line-height:100% !important;
	}

	/**
	* @tab Mobile Styles
	* @section heading 2
	* @tip Make the second-level headings larger in size for better readability on small screens.
	*/
	h2{
		/*@editable*/ font-size:20px !important;
		/*@editable*/ line-height:100% !important;
	}

	/**
	* @tab Mobile Styles
	* @section heading 3
	* @tip Make the third-level headings larger in size for better readability on small screens.
	*/
	h3{
		/*@editable*/ font-size:18px !important;
		/*@editable*/ line-height:100% !important;
	}

	/**
	* @tab Mobile Styles
	* @section heading 4
	* @tip Make the fourth-level headings larger in size for better readability on small screens.
	*/
	h4{
		/*@editable*/ font-size:16px !important;
		/*@editable*/ line-height:100% !important;
	}

	/* ======== Header Styles ======== */

	#templatePreheader{display:none !important;} /* Hide the template preheader to save space */

	/**
	* @tab Mobile Styles
	* @section header image
	* @tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.
	*/
	#headerImage{
		height:auto !important;
		/*@editable*/ max-width:600px !important;
		/*@editable*/ width:100% !important;
	}

	/**
	* @tab Mobile Styles
	* @section header text
	* @tip Make the header content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	.headerContent{
		/*@editable*/ font-size:20px !important;
		/*@editable*/ line-height:125% !important;
	}

	/* ======== Body Styles ======== */

	/**
	* @tab Mobile Styles
	* @section body image
	* @tip Make the main body image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.
	*/
	#bodyImage{
		height:auto !important;
		/*@editable*/ max-width:560px !important;
		/*@editable*/ width:100% !important;
	}

	/**
	* @tab Mobile Styles
	* @section body text
	* @tip Make the body content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	.bodyContent{
		/*@editable*/ font-size:18px !important;
		/*@editable*/ line-height:125% !important;
	}

	/* ======== Column Styles ======== */

	.templateColumnContainer{display:block !important; width:100% !important;}

	/**
	* @tab Mobile Styles
	* @section column image
	* @tip Make the column image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.
	*/
	.columnImage{
		height:auto !important;
		/*@editable*/ max-width:260px !important;
		/*@editable*/ width:100% !important;
	}

	/**
	* @tab Mobile Styles
	* @section left column text
	* @tip Make the left column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	.leftColumnContent{
		/*@editable*/ font-size:16px !important;
		/*@editable*/ line-height:125% !important;
	}

	/**
	* @tab Mobile Styles
	* @section right column text
	* @tip Make the right column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	.rightColumnContent{
		/*@editable*/ font-size:16px !important;
		/*@editable*/ line-height:125% !important;
	}

	/* ======== Footer Styles ======== */

	/**
	* @tab Mobile Styles
	* @section footer text
	* @tip Make the body content text larger in size for better readability on small screens.
	*/
	.footerContent{
		/*@editable*/ font-size:14px !important;
		/*@editable*/ line-height:115% !important;
	}

	.footerContent a{display:block !important;} /* Place footer social and utility links on their own lines, for easier access */
}